.product-detail {
    width: 100%;
    padding: 2rem 12rem;
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    align-items: start;
    img {
        width: 80%;
    }
    .product-buy{
        background-color: rgb(226, 226, 226);
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Montserrat;
    }
    .product-price {
        margin-top: 2rem;
        width: 100%;
        display:flex;
        justify-content: space-between;
        .buttons {
            display: flex;
            gap: 1rem;
            button {
                width: 3rem;
                height: 2rem;
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
    }
}