.hero-page {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 0px 24px;
    gap: 12px;
    .hero-image {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        img {
            width: 100%;
            height: 300px;
            filter: brightness(40%);
            &:hover {
                filter: brightness(70%);
            }
        }
        h1 {
            position: absolute;
            bottom: 10px;
            padding: 12px;
            color: white;
            font-size: 32px;
            font-weight: 1000;
            letter-spacing: 1px;
        }
    }
}