.send-shop {
    background-color: #d6d6d6;
    width: calc(100% - 22rem);
    margin-left: 12rem;
    display: flex;
    align-items: center;
    height: 400px;
    .send-shop-image {
        height: 400px;
        img {
            height: 400px;
            width: 600px;
        }
    }
}