.trending-products {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin-top: 4rem;
    padding: 0px 12rem;
    @media only screen and (max-width:600px) {
        padding: 0px 2rem;
    }
    .trending-header {
        display: flex;
        justify-content: space-between;
        h1 {
            font-size: 24px;
            font-family: Montserrat;
        }
        .buttons {
            display: flex;
            width: 90px;
            justify-content: space-between;
            button {
                border: none;
                background-color: rgb(87, 87, 87);
                padding: 8px;
                cursor: pointer;
                transition: 0.2s ease-in;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    background-color: black;
                }
            }
        }
    }
    .trending-body {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        column-gap: 0.4rem;
        .product {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 2px solid rgb(199, 199, 199);
            padding: 0.5rem 1rem;
            cursor: pointer;
            transition: 0.4s ease-in-out;
            width: 205px;
            &:hover {
                border: 2px solid black;
            }
            @media only screen and (min-width:600px) {
                width: 220px;
                height: 320px; 
            }
            .product-image {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1rem;
                height: 200px;
                padding: 1rem;
                
                img {
                    width: 90%;
                    height: 100%;
                    object-fit:contain;
                }
            }
            .product-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                @media only screen and (min-width:600px) {
                    height: 100%;
                    justify-content: flex-end;
                }
                h5 {
                    font-size: 16px;
                    overflow: hidden;
                    font-family: Montserrat;
                    margin-bottom: 0.7rem;
                }
                p {
                    font-size: 15px;
                    font-family: Montserrat;
                }
            }

        }
    }   
}