@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
html main, body main, #root main {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  width: 100%;
  height: 20%;
  padding: 0px 2rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0.5px 0.4px 0.1px rgb(179, 179, 179);
}
@media only screen and (min-width: 600px) {
  .navbar {
    padding: 0px 12rem;
  }
}
.navbar .navbar-logo {
  display: flex;
  align-items: center;
  width: 25%;
  cursor: pointer;
}
.navbar .navbar-logo img {
  width: 5rem;
}
.navbar .navbar-menu {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 600px) {
  .navbar .navbar-menu {
    width: 30%;
  }
}
.navbar .navbar-menu .navbar-shopping {
  cursor: pointer;
}
.navbar .navbar-menu .navbar-hamburger {
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  .navbar .navbar-menu .navbar-hamburger {
    display: none;
  }
}
.navbar .navbar-menu .nav-menu {
  display: none;
}
@media only screen and (min-width: 600px) {
  .navbar .navbar-menu .nav-menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }
}
.navbar .navbar-menu .nav-menu a {
  text-decoration: none;
  font-size: 18px;
  font-family: Montserrat;
  white-space: nowrap;
  color: black;
  cursor: pointer;
}
.navbar .navbar-menu .nav-menu a:hover {
  border-bottom: 1px solid black;
}

.hero-page {
  display: flex;
  align-items: center;
  padding: 1rem 12rem;
  gap: 1rem;
}
@media only screen and (max-width: 600px) {
  .hero-page {
    display: grid;
    padding: 1rem;
  }
}
.hero-page .first-section {
  width: 75%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 800px) {
  .hero-page .first-section {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.2rem;
  }
  .hero-page .first-section .hero-first {
    width: 220px;
    height: 220px;
  }
  .hero-page .first-section .hero-first h1 {
    font-size: 24px;
  }
  .hero-page .first-section .hero-second {
    width: 220px;
    height: 220px;
  }
  .hero-page .first-section .hero-second h1 {
    font-size: 24px;
  }
}
.hero-page .hero-first {
  width: 550px;
  height: 500px;
  position: relative;
  cursor: pointer;
}
.hero-page .hero-first img {
  width: 100%;
  height: 100%;
  filter: brightness(60%);
  transition: 0.4s ease-in;
}
.hero-page .hero-first img:hover {
  filter: brightness(80%);
}
.hero-page .hero-first h1 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  font-family: Montserrat;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 1000;
}
.hero-page .hero-second {
  width: 300px;
  height: 500px;
  position: relative;
  cursor: pointer;
}
.hero-page .hero-second img {
  width: 100%;
  height: 100%;
  filter: brightness(60%);
  transition: 0.4s ease-in;
}
.hero-page .hero-second img:hover {
  filter: brightness(80%);
}
.hero-page .hero-second h1 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  font-family: Montserrat;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 1000;
}
.hero-page .second-section {
  width: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@media only screen and (max-width: 800px) {
  .hero-page .second-section {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
  }
  .hero-page .second-section .hero-third {
    width: 220px;
    height: 220px;
  }
  .hero-page .second-section .hero-third h1 {
    font-size: 24px;
  }
  .hero-page .second-section .hero-four {
    width: 220px;
    height: 220px;
  }
  .hero-page .second-section .hero-four h1 {
    font-size: 24px;
  }
}
.hero-page .hero-third {
  width: 292px;
  height: 242px;
  position: relative;
  cursor: pointer;
}
.hero-page .hero-third img {
  width: 100%;
  height: 100%;
  filter: brightness(60%);
  transition: 0.4s ease-in;
}
.hero-page .hero-third img:hover {
  filter: brightness(80%);
}
.hero-page .hero-third h1 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  font-family: Montserrat;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 1000;
}
.hero-page .hero-four {
  width: 292px;
  height: 242px;
  position: relative;
  cursor: pointer;
}
.hero-page .hero-four img {
  width: 100%;
  height: 100%;
  filter: brightness(60%);
  transition: 0.4s ease-in;
}
.hero-page .hero-four img:hover {
  filter: brightness(80%);
}
.hero-page .hero-four h1 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  font-family: Montserrat;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 1000;
}

.best-products {
  display: flex;
  flex-direction: column;
  padding: 8rem 2rem;
}
@media only screen and (min-width: 600px) {
  .best-products {
    padding: 8rem 12rem;
  }
}
.best-products h1 {
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 1000;
}
.best-products .product-list {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 2rem;
  margin-top: 2rem;
}
@media only screen and (min-width: 600px) {
  .best-products .product-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
  }
}
.best-products .product-list .product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgb(199, 199, 199);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.best-products .product-list .product:hover {
  border: 2px solid black;
}
@media only screen and (min-width: 600px) {
  .best-products .product-list .product {
    width: 280px;
    height: 320px;
  }
}
.best-products .product-list .product .product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  height: 200px;
  padding: 1rem;
}
.best-products .product-list .product .product-image img {
  width: 90%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.best-products .product-list .product .product-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .best-products .product-list .product .product-description {
    height: 100%;
    justify-content: flex-end;
  }
}
.best-products .product-list .product .product-description h5 {
  font-size: 16px;
  overflow: hidden;
  font-family: Montserrat;
  margin-bottom: 0.7rem;
}
.best-products .product-list .product .product-description p {
  font-size: 15px;
  font-family: Montserrat;
}

.send-shop {
  background-color: #d6d6d6;
  width: calc(100% - 22rem);
  margin-left: 12rem;
  display: flex;
  align-items: center;
  height: 400px;
}
@media only screen and (max-width: 600px) {
  .send-shop {
    width: calc(100% - 4rem);
    margin: 0 2rem;
  }
}
.send-shop .send-shop-description {
  width: 50%;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .send-shop .send-shop-description {
    width: 100%;
    padding: 0;
    justify-content: center;
    padding: 0 2rem;
  }
}
.send-shop .send-shop-description h1 {
  white-space: nowrap;
  font-size: 28px;
  font-family: Montserrat;
  font-weight: 1000;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 600px) {
  .send-shop .send-shop-description h1 {
    font-size: 24px;
  }
}
.send-shop .send-shop-description p {
  font-size: 16px;
  font-family: Montserrat;
  margin-bottom: 1rem;
}
.send-shop .send-shop-description button {
  width: 35%;
  padding: 12px 0px;
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 1000;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid black;
  background-color: black;
  color: white;
  transition: 0.2s ease;
  cursor: pointer;
}
.send-shop .send-shop-description button:hover {
  background-color: white;
  color: black;
}
.send-shop .send-shop-image {
  height: 400px;
}
@media only screen and (max-width: 600px) {
  .send-shop .send-shop-image {
    display: none;
  }
}
.send-shop .send-shop-image img {
  height: 400px;
  width: 600px;
}

.trending-products {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  margin-top: 4rem;
  padding: 0px 12rem;
}
@media only screen and (max-width: 600px) {
  .trending-products {
    padding: 0px 2rem;
  }
}
.trending-products .trending-header {
  display: flex;
  justify-content: space-between;
}
.trending-products .trending-header h1 {
  font-size: 24px;
  font-family: Montserrat;
}
.trending-products .trending-header .buttons {
  display: flex;
  width: 90px;
  justify-content: space-between;
}
.trending-products .trending-header .buttons button {
  border: none;
  background-color: rgb(87, 87, 87);
  padding: 8px;
  cursor: pointer;
  transition: 0.2s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trending-products .trending-header .buttons button:hover {
  background-color: black;
}
.trending-products .trending-body {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  -moz-column-gap: 0.4rem;
       column-gap: 0.4rem;
}
.trending-products .trending-body .product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgb(199, 199, 199);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  width: 205px;
}
.trending-products .trending-body .product:hover {
  border: 2px solid black;
}
@media only screen and (min-width: 600px) {
  .trending-products .trending-body .product {
    width: 220px;
    height: 320px;
  }
}
.trending-products .trending-body .product .product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  height: 200px;
  padding: 1rem;
}
.trending-products .trending-body .product .product-image img {
  width: 90%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.trending-products .trending-body .product .product-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .trending-products .trending-body .product .product-description {
    height: 100%;
    justify-content: flex-end;
  }
}
.trending-products .trending-body .product .product-description h5 {
  font-size: 16px;
  overflow: hidden;
  font-family: Montserrat;
  margin-bottom: 0.7rem;
}
.trending-products .trending-body .product .product-description p {
  font-size: 15px;
  font-family: Montserrat;
}

.contact {
  margin: 12rem 0rem 0rem 0rem;
  background-color: rgb(35, 35, 35);
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 600px) {
  .contact {
    height: 300px;
  }
}
.contact h1 {
  color: white;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 1000;
}
.contact input {
  width: 250px;
  margin-top: 1rem;
  font-size: 15px;
  padding: 8px 6px;
  font-family: Montserrat;
}
.contact button {
  font-size: 18px;
  padding: 6px 8px;
  margin-left: 1rem;
  border: none;
  font-family: Montserrat;
  font-weight: 1000;
  cursor: pointer;
}

.footer {
  background-color: black;
  color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.footer .nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
}
@media only screen and (min-width: 1000px) {
  .footer .nav {
    justify-content: center;
  }
}
.footer p {
  font-size: 15px;
  font-weight: 1000;
  font-family: Montserrat;
}
@media only screen and (min-width: 1000px) {
  .footer p {
    margin-right: 1rem;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  transition: opacity 0.4s ease-in;
  pointer-events: none;
  opacity: 0;
}
.overlay .side-card {
  padding: 3rem 0rem 0rem 0rem;
  position: absolute;
  top: 0;
  right: -100%;
  width: 30rem;
  transition: right 0.4s ease-in;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15rem;
}
.overlay .side-card .header {
  padding: 0rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overlay .side-card .header h1 {
  font-size: 1.4rem;
  font-family: Montserrat;
}
.overlay .side-card .header h1 {
  font-family: Montserrat;
}
.overlay .side-card .body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.overlay .side-card .body h3 {
  font-size: 1.4rem;
}
.overlay .side-card .body button {
  width: 100%;
  height: 2.4rem;
  font-size: 1.2rem;
  font-family: Montserrat;
  font-weight: 1000;
  cursor: pointer;
}
.overlay.open {
  opacity: 1;
  pointer-events: auto;
}
.overlay.open .side-card {
  right: 0;
}

.categories {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 12rem;
}
.categories h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-family: Montserrat;
}
.categories nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.categories nav button {
  border: none;
  padding: 12px 9px;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 1000;
  color: rgb(255, 255, 255);
  background-color: rgb(124, 124, 124);
  transition: 0.4s ease;
  letter-spacing: 1px;
  cursor: pointer;
}
.categories nav button:hover {
  background-color: black;
}
.categories .products {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 1rem;
}
.categories .products .product {
  width: 100%;
  border: 2px solid rgb(186, 186, 186);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  transition: 0.4s ease-in;
  cursor: pointer;
}
.categories .products .product:hover {
  border: 2px solid black;
}
.categories .products .product .product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem 0 1rem;
}
.categories .products .product .product-image img {
  width: 75%;
}
.categories .products .product .product-description {
  padding: 0rem 1rem 1rem 1rem;
}

.product-detail {
  width: 100%;
  padding: 2rem 12rem;
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  align-items: start;
}
.product-detail img {
  width: 80%;
}
.product-detail .product-buy {
  background-color: rgb(226, 226, 226);
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  width: 100%;
}
.product-detail .product-buy .buy-section {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.product-detail .product-buy .buy-section button {
  width: 4rem;
  height: 2rem;
  font-size: 1rem;
  font-family: Montserrat;
  font-weight: 1000;
  letter-spacing: 1px;
  color: white;
  background-color: rgb(109, 42, 42);
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
}
.product-detail .product-buy .buy-section button:hover {
  background-color: red;
}
.product-detail .product-price {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product-detail .product-price .buttons {
  display: flex;
  gap: 1rem;
}
.product-detail .product-price .buttons button {
  width: 3rem;
  height: 2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */