@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
html main, body main, #root main {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  width: 100%;
  height: 20%;
  padding: 0px 2rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0.5px 0.4px 0.1px rgb(179, 179, 179);
}
@media only screen and (min-width: 600px) {
  .navbar {
    padding: 0px 12rem;
  }
}
.navbar .navbar-logo {
  display: flex;
  align-items: center;
  width: 25%;
  cursor: pointer;
}
.navbar .navbar-logo img {
  width: 5rem;
}
.navbar .navbar-menu {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 600px) {
  .navbar .navbar-menu {
    width: 30%;
  }
}
.navbar .navbar-menu .navbar-shopping {
  cursor: pointer;
}
.navbar .navbar-menu .navbar-hamburger {
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  .navbar .navbar-menu .navbar-hamburger {
    display: none;
  }
}
.navbar .navbar-menu .nav-menu {
  display: none;
}
@media only screen and (min-width: 600px) {
  .navbar .navbar-menu .nav-menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }
}
.navbar .navbar-menu .nav-menu a {
  text-decoration: none;
  font-size: 18px;
  font-family: Montserrat;
  white-space: nowrap;
  color: black;
  cursor: pointer;
}
.navbar .navbar-menu .nav-menu a:hover {
  border-bottom: 1px solid black;
}

.hero-page {
  display: flex;
  align-items: center;
  padding: 1rem 12rem;
  gap: 1rem;
}
@media only screen and (max-width: 600px) {
  .hero-page {
    display: grid;
    padding: 1rem;
  }
}
.hero-page .first-section {
  width: 75%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 800px) {
  .hero-page .first-section {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.2rem;
  }
  .hero-page .first-section .hero-first {
    width: 220px;
    height: 220px;
  }
  .hero-page .first-section .hero-first h1 {
    font-size: 24px;
  }
  .hero-page .first-section .hero-second {
    width: 220px;
    height: 220px;
  }
  .hero-page .first-section .hero-second h1 {
    font-size: 24px;
  }
}
.hero-page .hero-first {
  width: 550px;
  height: 500px;
  position: relative;
  cursor: pointer;
}
.hero-page .hero-first img {
  width: 100%;
  height: 100%;
  filter: brightness(40%);
  transition: 0.4s ease-in;
}
.hero-page .hero-first img:hover {
  filter: brightness(60%);
}
.hero-page .hero-first h1 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  font-family: Montserrat;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 1000;
}
.hero-page .hero-second {
  width: 300px;
  height: 500px;
  position: relative;
  cursor: pointer;
}
.hero-page .hero-second img {
  width: 100%;
  height: 100%;
  filter: brightness(40%);
  transition: 0.4s ease-in;
}
.hero-page .hero-second img:hover {
  filter: brightness(60%);
}
.hero-page .hero-second h1 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  font-family: Montserrat;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 1000;
}
.hero-page .second-section {
  width: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@media only screen and (max-width: 800px) {
  .hero-page .second-section {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
  }
  .hero-page .second-section .hero-third {
    width: 220px;
    height: 220px;
  }
  .hero-page .second-section .hero-third h1 {
    font-size: 24px;
  }
  .hero-page .second-section .hero-four {
    width: 220px;
    height: 220px;
  }
  .hero-page .second-section .hero-four h1 {
    font-size: 24px;
  }
}
.hero-page .hero-third {
  width: 292px;
  height: 242px;
  position: relative;
  cursor: pointer;
}
.hero-page .hero-third img {
  width: 100%;
  height: 100%;
  filter: brightness(40%);
  transition: 0.4s ease-in;
}
.hero-page .hero-third img:hover {
  filter: brightness(60%);
}
.hero-page .hero-third h1 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  font-family: Montserrat;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 1000;
}
.hero-page .hero-four {
  width: 292px;
  height: 242px;
  position: relative;
  cursor: pointer;
}
.hero-page .hero-four img {
  width: 100%;
  height: 100%;
  filter: brightness(40%);
  transition: 0.4s ease-in;
}
.hero-page .hero-four img:hover {
  filter: brightness(60%);
}
.hero-page .hero-four h1 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  font-family: Montserrat;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 1000;
}

.best-products {
  display: flex;
  flex-direction: column;
  padding: 8rem 2rem;
}
@media only screen and (min-width: 600px) {
  .best-products {
    padding: 8rem 12rem;
  }
}
.best-products h1 {
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 1000;
}
.best-products .product-list {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 2rem;
  margin-top: 2rem;
}
@media only screen and (min-width: 600px) {
  .best-products .product-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
  }
}
.best-products .product-list .product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgb(199, 199, 199);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.best-products .product-list .product:hover {
  border: 2px solid black;
}
@media only screen and (min-width: 600px) {
  .best-products .product-list .product {
    width: 280px;
    height: 320px;
  }
}
.best-products .product-list .product .product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  height: 200px;
  padding: 1rem;
}
.best-products .product-list .product .product-image img {
  width: 90%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.best-products .product-list .product .product-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .best-products .product-list .product .product-description {
    height: 100%;
    justify-content: flex-end;
  }
}
.best-products .product-list .product .product-description h5 {
  font-size: 16px;
  overflow: hidden;
  font-family: Montserrat;
  margin-bottom: 0.7rem;
}
.best-products .product-list .product .product-description p {
  font-size: 15px;
  font-family: Montserrat;
}

.send-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem;
  background-color: rgb(225, 225, 225);
  max-width: 100%;
  height: 50%;
  padding: 0 3rem;
}
.send-shop h1 {
  font-size: 1.5rem;
  font-family: Montserrat;
  margin-bottom: 1rem;
  font-weight: 1000;
}
.send-shop p {
  font-size: 1rem;
  font-family: Montserrat;
  margin-bottom: 1rem;
}
.send-shop button {
  width: 8rem;
  white-space: nowrap;
  font-size: 1rem;
  padding: 12px 12px;
  text-transform: uppercase;
  border: none;
  background-color: black;
  color: white;
  font-family: Montserrat;
  font-weight: 1000;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.2s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send-shop button:hover {
  background-color: white;
  color: black;
}

.trending-products {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  margin-top: 4rem;
  padding: 0 2rem;
}
.trending-products .trending-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.trending-products .trending-header h1 {
  font-size: 24px;
  font-family: Montserrat;
}
.trending-products .trending-header .buttons {
  display: flex;
  width: 90px;
  justify-content: space-between;
}
.trending-products .trending-header .buttons button {
  border: none;
  background-color: rgb(87, 87, 87);
  padding: 8px;
  cursor: pointer;
  transition: 0.2s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trending-products .trending-header .buttons button:hover {
  background-color: black;
}
.trending-products .trending-list {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 1rem;
  gap: 0px 1rem;
  padding: 1rem 0rem;
}
.trending-products .trending-list .product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgb(199, 199, 199);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.trending-products .trending-list .product:hover {
  border: 2px solid black;
}
.trending-products .trending-list .product .product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  height: 150px;
  padding: 1rem;
}
.trending-products .trending-list .product .product-image img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.trending-products .trending-list .product .product-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.trending-products .trending-list .product .product-description h5 {
  font-size: 16px;
  overflow: hidden;
  font-family: Montserrat;
  margin-bottom: 0.7rem;
}
.trending-products .trending-list .product .product-description p {
  font-size: 15px;
  font-family: Montserrat;
}

.contact {
  margin: 12rem 0rem 0rem 0rem;
  background-color: rgb(35, 35, 35);
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact h1 {
  color: white;
  font-family: Montserrat;
  font-size: 28px;
}
.contact input {
  width: 250px;
  margin-top: 1rem;
  font-size: 15px;
  padding: 8px 6px;
  font-family: Montserrat;
}
.contact button {
  font-size: 18px;
  padding: 6px 8px;
  margin-left: 1rem;
  border: none;
  font-family: Montserrat;
  font-weight: 1000;
  cursor: pointer;
}

.footer {
  background-color: black;
  color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.footer .nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
}
.footer p {
  font-size: 15px;
  font-weight: 1000;
  font-family: Montserrat;
}/*# sourceMappingURL=style.css.map */